/* PLDoc style sheet. */
/* $Header: /cvsroot/pldoc/sources/defaultstylesheet.css,v 1.1 2002/03/01 14:31:26 altumano Exp $ */

/* Background color */
body { background-color: #FFFFFF }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF }
.TableSubHeadingColor  { background: #EEEEFF }
.TableRowColor         { background: #FFFFFF }

/* Contents frame font */
.FrameTitleFont   { font-size: normal; font-family: normal }
.FrameHeadingFont { font-size: normal; font-family: normal }
.FrameItemFont    { font-size: normal; font-family: normal }

/* Navigation bar */
.NavBarRow1    	   { background-color:#EEEEFF;}
.NavBarRow1Chosen  { background-color:#00008B;}
.NavBarFont1       { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Chosen { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarRow2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarRow3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
